:host {
    display: block;
    height: 300px;
    width: 250px;
    border: 1px solid rgb(138, 31, 138);
    border-radius: 15px;
    box-shadow: 4px 4px rgb(138, 31, 138);
    margin: 10px;
    padding: 10px;    
}

img{
    width: 400px;
    height: 400px;
}

h3 a{
    color: blueviolet;
    font-size: 25px;
}

.text{
    font-size: 15px;
}